body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
table {
  min-width: 100%;
  padding: 10px;
  border: 1px solid black;
}
td {
  padding: 10px;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  min-width: 50px;
}
th {
  font-weight: bolder;
  font-size: large;
}

td p {
  padding: 5px;
  margin: 0px;
}
